/* Profile.css */
.Contact {
  padding: 0px;
margin: 0px;
position: fixed;
top: 100%;

transform: translateY(-50%);
left: 0;
width: 290px; /* Adjust width as needed */
z-index: 999; /* Ensure it's above other content */
overflow-y: auto; /* Allow sidebar content to scroll if it overflows */
height: 1255px;
}

.Contact .left {
  width: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
  min-height: 100vh;
}

.Contact .box {
  padding: 20px;
}

.Contact .img {
  text-align: center;
}

.Contact .img img {
  max-height: 150px; /* Adjust the maximum height of the image */
  width: auto;
  border-radius: 50px;

}
.details {
  
  text-align: center;

}



@media (max-width: 768px) {
  .Contact .left,
  .Contact .right {
    width: 100%;
  }
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #04923f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:#04923f;
}
.Contact .details a {
  display: block; /* Display links as block elements */
  margin-bottom: 10px; /* Add space between each link */
}

.Contact .details a[type="submit"] {
  /* Add your button styles if needed */
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #04923f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove default underline */
}

.Contact .details a[type="submit"]:hover {
  background-color: #037e34; /* Darken the background color on hover */
}
